PORT=3000
MONGODB_USER=your_username
MONGODB_PASSWORD=your_password
MONGODB_URL=your_cluster_url
MONGODB_DB=your_database_name
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_username
SMTP_PASSWORD=your_password
SMTP_FROM=your_login
APP_DOMAIN=http://localhost:3000/auth
JWT_SECRET=VOQjLdrpG1TWCHhDzv3o
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
